body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #0f172a;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.container {
  background: #020617;
  padding: 25px;
  width: 320px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

h2 {
  margin-bottom: 15px;
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
}

input,
select {
  outline: none;
}

button {
  background: #2563eb;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #1e40af;
}

#error {
  margin-top: 10px;
  color: red;
}

#output {
  margin-top: 15px;
  font-size: 16px;
  font-weight: bold;
}